<!DOCTYPE html>
<html>
<head>
    <title>Patient Registration</title>
</head>
<body>

    <h2>Patient Registration</h2>

    <form action="/register" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Age:</label><br>
        <input type="number" name="age" required><br><br>

        <label>Blood Group:</label><br>
        <input type="text" name="blood_group" required><br><br>

        <label>Contact:</label><br>
        <input type="text" name="contact" required><br><br>

        PIN (4-digit): <input type="password" name="pin" maxlength="4" required><br><br>

        <button type="submit">Register</button>
    </form>

</body>
</html>